.order-container {
  display: flex;
  flex-direction: column;
}

.order-container > * {
  width: 100%;
}

.kr-order-h2 {
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

